# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.env

# Models

# Data
data/raw/
data/knowledge_base/*.pdf
data/knowledge_base/*.txt
data/knowledge_base/processed_kb.json

# Streamlit
.streamlit/

# MacOS
.DS_Store
